@font-face {
  font-family: barcode;
  src: url(LibreBarcode39-Regular.ttf);
}

#barcode {
  font-family: barcode;
  font-size: 100px;
}

.my-bg-main {
  background-color: #101113;
}

.my-bg-element {
 background-color: #212224;
}

.my-shadow {
  box-shadow: 0px 0px 30px -9px rgba(0,0,0,0.75);
}

.my-hover:hover {
  color: #101113;
}

.post-hero-container-img {
  height: 400px;
}

.post-hero-img {
  max-width: 100%;
}

.my-text-white {
  color: #dadada;
}

.my-cursor {
  cursor: pointer;
}

#modal-content {
  min-height: 600px;
}

tbody tr:hover {
  background-color: #dadada;
  color: #101113;
}

.my-flowprocess-content {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.max-content {
  width: 60px;
}


 /* search bar */

#filter  {
  border-radius: 4px 0 0 4px;
  width: auto;
  border: 0;
  font-size: 14px;
  padding: 7px 38px 7px 8px;
  border-right: 1px solid #212224;
}

#search  {
  border-radius: 0 4px 4px 0;
  border: 0;
}

 /* search bar end*/