* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;

}

.content {
  width: 210mm;
  height: 297mm;
  border: 1px solid black;
  padding: 10mm;
  margin: 0;
}

.header {
  grid-area: header;
  height: 20mm;
  width: 178mm;
  line-height: 20mm;
  text-align: center;
  font-weight: bold;
  font-size: 13mm;
}

.qr-code {
  grid-area: qr-code;
  width: 30mm;
  height: 30mm;
  border: 1px solid black;
}

.sub-header {
  grid-area: sub-header;
  text-align: center;
  font-weight: bold;
  font-size: 7mm;
  height: 10mm;
}

.header-container {
  display: grid;
  grid-template-areas: 
    'header qr-code'
    'sub-header qr-code';
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30mm;
  grid-gap: 0;
  border-bottom: 1px solid black;
  padding-bottom: 3mm;
}

.general-info-container {
  padding-top: 3mm;
  display: grid;
  grid-template-columns: auto auto;
  border-bottom: 1px solid black;
  padding-bottom: 3mm;
}

.general-info-container table tr {
  height: 6mm;
}

.order-note {
  width: 100%;
  height: 20mm;
  padding: 3mm 0 3mm 0;
  border-bottom: 1px solid black;
}

.process-container table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1mm;
}

.process-container table thead tr {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.process-container table thead tr th {
  padding-top: 1.5mm;
  padding-bottom: 1.5mm;
}

.process-container table thead tr .op {
  width: 15mm;
  border-right: 1px solid black;
}

.process-container table thead tr .work-center {
  width: 20mm;
  border-right: 1px solid black;
}

.process-container table thead tr .instruction {
  border-right: 1px solid black;
}

.process-container table thead tr .estimation {
  width: 20mm;
  border-right: 1px solid black;
}

.process-container table thead tr .qty {
  width: 20mm;
}

.process-container table tbody tr td {
  border-bottom: 1px solid black;
}

.process-container table tbody tr td .flow-info {
  height: 25mm;
  line-height: 5mm;
  padding: 3mm 0 3mm 0;
  position: relative;
}

.text-center {
  text-align: center;
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: left;  
}
